# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# SQL/visual studio prefs crap
*.sdf
*.opensdf
*.suo

# Unwanted folders
DELETE
[Aa]pplication
[Tt]emp